html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* This above is the reset */

* {
    font-family: 'Teko', sans-serif;
    max-width: 100%
    


}

body {
    background-color: white
}

.header {
    background-color: black;
    height:150px;
    display: flex;
    justify-content: flex-start;
   
}

.innerheader {
    width:50%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
}


.innerheader h1{
    color: #fff;
    font-family: 'Teko', sans-serif;
    font-size: 65px;
    padding-left: 15%;
    padding-top:5%;
   
}
.innerheader {
    display: flex;

}

.linkscontainer {
    width:50%
}



.innerheader nav {
    padding-top: 5%;
    padding-left: 8%;
    display: flex;

    
}

nav a {
    padding-inline: 5%;
}
    



    
    



/* navigation links */




.first {
    height: 500px;
    width: 400px;
    margin: 1%;
    padding-left:4%;
    
}



/* The right side*/


h2 {
    display: flex;
    justify-content: center;
    position:relative;
    top: 250px;
    
}

    
.story {
    font-size: 20px;
    text-align: center;
    position:relative;
    top: 250px;
    color: brown;
    
}

/*bottom pictures*/

.topgallery {
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.topgallery img {
    width: 300px;
    height: 300px;
    margin:50px;
    border: 10px solid black;
}

.bottomgallery {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 300px;
    margin-top:10%;

    
}

.bottomgallery img {
    margin:50px;
    width: 300px;
    height: 300px;
    border: 10px solid black;

}


/*footer*/
h3 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    color: #fff
    


}

.box a {
    border:10px solid #fff;
     background-color: #fff;
     display: flex;
     justify-content: center;
     color: red;
     text-decoration: none;
     
     
     
}



.lastbox {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 90px solid black ;
    padding: 20px;
    color: #fff;
}



/*numbers*/

.numbers {
    display: flex;
    color: #fff

}

.one {
    position: relative;
    left: 200px;
}

.two {
    position: relative;
    left: 670px;
}

.Three {
    position: relative;
    left: 1125px;
}

.Four {
    position: relative;
    left: 1555px;
}

.Five {
    position: relative;
    top: 680px;
    left:80px;
}

.Six {
    position: relative;
    left: 550px;
    top:680px
}

.Seven {
    position: relative;
    left: 980px;
    top:680px;
}

.Eight {
    position: relative;
    left: 1450px;
    top:680px;

}



    